body {
    //border: 14px solid $white;
    padding: 14px;
}
.content {
    min-height: 400px;
}
.container {
    opacity: 0;
    @include transition(all 1.5s ease-in);
    &.show {
        opacity: 1;
    }

    max-width: 320px;
    text-align: center;

    position: absolute;
    height: 300px;
    margin: -150px 0 0 -160px;
    top: 50%;
    left: 50%;

    h1 {
        font-size: 20px;
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
        font-weight: 700;
        text-transform: uppercase;
        &:after {
            width: 50px;
            height: 3px;
            margin: 20px auto;
            content: '.';
            display: block;
            color: $main-color;
            background-color: $main-color;
            overflow: hidden;
        }
    }
    p {
        margin-top: 20px;
        font-size: 16px;
    }
    strong {
        font-weight: 600;
    }
}
.logo {
    width: 250px;
    margin: 0 auto;
    img {
        width: 100%;
    }
}
// Body Border ---------------------------------- 
.border {
    b {
        background-color: $white;
        display: block;
        position: fixed;
    }
}
.b1 {
    top: 0;
    right: 0;
    left: 0;
    height: 14px;
}
.b2 {
    bottom: 0;
    right: 0;
    left: 0;
    height: 14px;
}
.b3 {
    top: 0;
    bottom: 0;
    right: 0;
    width: 14px;
}
.b4 {
    top: 0;
    bottom: 0;
    left: 0;
    width: 14px;
}
.footer {
    position: fixed;
    padding: 20px;
    bottom: 14px;
    right: 0;
    left: 0;
    font-size: 12px;
    color: #ccc;
    text-align: center;
}

// Responsive ---------------------------------

@media all and (min-width: 400px) {

h1 {
    font-size: 36px;
}

}





